<!DOCTYPE html>
<html ng-app="toNote">

<head>
    <meta charset="utf-8">
    <title>AngularJS</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/main.js"></script>

    <body ng-displayMode=="list">
        <header class="addNoteBox" ng-controller="addNoteCtrl as anc">
            <button type="button" ng-click="addItem(notes)">Add new Note</button>
            <p>
                Angular To-Note
            </p>
        </header>
        <div ng-app="toNote" class="toNote">
            <div class="mainbox" ng-controller="getNotesCtrl as gnc">


                <div ng-repeat="note in gnc.notes">

                    <div class='listNotes panel panel-default .container-fluid'>
                        <span class='noteId'>{{note._id}}</span> {{note.title}}
                        <div class='noteContent'> {{note.content}}
                        </div>
                        <p class='noteDate'>created: {{note.date| date:"MM/dd/yyyy @ h:mma"}}</p>
                        <p class='noteEditeDate'>Last edited on: {{note.editDate | date:"MM/dd/yyyy @ h:mma"}}</p>
                        <div class='btnBox'>
                            <button class='btnDelete' ng-click='deleteNote(gnc.note)'>Delete</button>
                            <button class='btnEdit' ng-click='editNote'>Edit</button>
                        </div>
                    </div>
                </div>


                <list-notes ng-repeat="note in notes"></list-notes>
            </div>
        </div>

    </body>

</html>
