
<div class='listNotes'>
    <span class='noteId'>{{note._id}}</span> {{note.title}}
    <div class='noteContent'> {{note.content}}
    </div>
    <p class='noteDate'>created: {{note.date| date:"MM/dd/yyyy @ h:mma"}}</p>
    <p class='noteEditeDate'>Last edited on: {{note.editDate | date:"MM/dd/yyyy @ h:mma"}}</p>
    <div class='btnBox'>
        <button class='btnDelete' ng-click='deleteItem(note._id, $index, $event)'>Delete</button>
        <button class='btnEdit' ng-click='editItem(notes._id)'>Edit</button>
    </div>
</div>
